################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASCOM.HomeMade.SBIGCamera/v16
/ASCOM.HomeMade.SBIGCamera/bin/Debug
/ASCOM.HomeMade.SBIGCamera/obj
/ASCOM.HomeMade.SBIGCameraTests/bin/Debug
/ASCOM.HomeMade.SBIGCameraTests/obj/Debug
/SbigSharp/bin/Debug
/SbigSharp/obj
/.vs/ASCOM.HomeMade.SBIGCamera/DesignTimeBuild/.dtbcache.v2
/ASCOM.HomeMade.SBIGCommon/bin/Debug
/ASCOM.HomeMade.SBIGCommon/obj/Debug
/ASCOM.HomeMade.SBIGFW/bin/Debug
/ASCOM.HomeMade.SBIGFW/obj
/ASCOM.HomeMade.SBIGImagingCamera/bin/Debug
/ASCOM.HomeMade.SBIGImagingCamera/obj
/ASCOM.HomeMade.SBIGGuidingCamera/bin/Debug
/ASCOM.HomeMade.SBIGGuidingCamera/obj
